<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sections/home.css">
    <link rel="stylesheet" href="../css/helpers/nav.css">
    <title>Home</title>
</head>
<body>
    <!-- nav section  -->
    <nav class="nav">
        <div class="container">
            <h1 class="logo">
                <a href="/">Amescom</a>
            </h1>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="foods.html">Foods</a></li>
                <li><a href="foodGroups.html">Food Group</a></li>
            </ul>
        </div>
    </nav>

    <!-- the basic text -->
    <div class="hero">
        <div class="container">
            <h1>Welcome To Amescom Foods</h1>
            <p>this website is build by muayyad nofal</p>
        </div>
    </div>

    <!-- project information section -->
    <section class="container content">
        <h2>Introduction</h2>
        <p>Amescom Foods Website, this website offers a lot of cool features, such as:</p>

        <div class="info-bxes">
            <div class="feature">
                <h3>paginate food data with a maximum page content of 20 food items</h3>
            </div>
    
            <div class="feature">
                <h3>sort all foods by its name</h3>
            </div>
    
            <div class="feature">
                <h3>search for a food by its name</h3>
            </div>
    
            <div class="feature">
                <h3>display all nut information for each food</h3>
            </div>
    
            <div class="feature">
                <h3>display all food groups</h3>
            </div>
    
            <div class="feature">
                <h3>delete a food group and delete all its food</h3>
            </div>
        </div>
    </section>

    <!-- author information section -->
    <section class="container content">
        <h2>Author Information</h2>
        <p>Muayyad Nofal, Third year in ITE damascus university, hopping to get a job at amescom company</p>
    </section>

    <!-- implementing js files -->
    <script src="../js/nav/nav.js"></script>
</body>
</html>